@model LKMovies.ViewModels.Movies.CreateMovieViewModel

@{
    ViewData["Title"] = "Create";

    IEnumerable<SelectListItem> categories = ((List<Category>)ViewBag.Categories).Select(category =>
    {
        return new SelectListItem
                {
                    Text = category.Name,
                    Value = category.Id.ToString()
                };
    });

    IEnumerable<SelectListItem> genres = ((List<Genre>)ViewBag.Genres).Select(genre =>
    {
        return new SelectListItem
                {
                    Text = genre.Name,
                    Value = genre.Id.ToString()
                };
    });

    IEnumerable<SelectListItem> actors = ((List<Actor>)ViewBag.Actors).Select(actor =>
    {
        return new SelectListItem
                {
                    Text = $"{actor.FirstName} {actor.LastName}",
                    Value = actor.Id.ToString()
                };
    });
    IEnumerable<SelectListItem> directors = ((List<Director>)ViewBag.Directors).Select(director =>
    {
        return new SelectListItem
                {
                    Text = $"{director.FirstName} {director.LastName}",
                    Value = director.Id.ToString()
                };
    });
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <select asp-for="DirectorId" class="form-control" asp-items="directors">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="categories">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGenres" class="control-label"></label>
                <select asp-for="SelectedGenres" class="form-control" asp-items="genres">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedActors" class="control-label"></label>
                <select asp-for="SelectedActors" class="form-control" asp-items="actors">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
